/* Setzt Standardmargen und Polsterungen für html und body zurück */
html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh; /* Volle Höhe des Viewports */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.background-container {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-size: cover; /* Stellt sicher, dass das Hintergrundbild die gesamte Fläche bedeckt */
  display: flex; /* Hilft, das Formular im Div zu zentrieren, wenn gewünscht */
  justify-content: center; /* Zentriert Inhalte horizontal */
  align-items: center; /* Zentriert Inhalte vertikal */
}

.logo {
  position: absolute;
  margin-top: 0px;
  color: white;
  top: 20px; /* Abstand vom oberen Rand */
  margin-left: auto;
  margin-right: auto;
  z-index: 10; /* Stellt sicher, dass das Logo über dem Hintergrundbild liegt */
  font-size: 40px; /* Oder eine angemessene Größe für dein Logo */
}

.absage-container {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 50%;
}

.absage-container h1 {
  color: white;
  margin-top: 0;
}

.color-emphasis {
  color: rgb(246, 255, 0);
}

.absage-buttons-container {
  display: flex;
}

.absage-buttons-container > * {
  margin: 5px;
}

form {
  padding: 40px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}

form h1 {
  margin-top: 0;
}

@media only screen and (max-width: 480px) {
  .absage-container {
    border: 2px solid white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 80%;
  }

  .absage-container h1 {
    font-size: x-large;
  }
}
